.master-game-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.board-game-container{
  /* display: flex; */
  height: 900px;
  width: 900px;
  background-color: rgba(0, 100, 0, 0.8);
  border: 5px solid brown;
  padding: 0;
  margin: 0;
}

.board-chat-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.score-rules-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 33.1vh;
}