.board-game-container{
  /* display: flex; */
  height: 900px;
  width: 900px;
  background-color: rgba(0, 100, 0, 0.8);
  border: 5px solid brown;
  padding: 0;
  margin: 0;
}

.bodega-img{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}