.form-container{
    display: flex;
    justify-content: flex-end;
}
.textarea-button-container{
    display: flex;
    justify-content: flex-end;
}

.send-textarea{
    width: 50vh;
    color: rgb(65, 78, 128);
    font-size: 18px;
    font-weight: 900;
    background-color: rgba(246, 146, 45, 0.500);
    border:0.2em solid rgb(186, 31, 49);
}
.send-textarea::placeholder{
    color: rgb(65, 78, 128);
}
.send-button{
    background-color: rgba(246, 146, 45, 0.500);
    border:0.2em solid rgb(186, 31, 49);

}